.label_background {
  fill: #e8f1f7;
  fill-opacity: 1;
  stroke: #96b9d4;
}

.label_title {
	 font-size: 30px;
	}
	
.label_text, .label_circle {
  position: absolute;
  left: 20px;
  top: 20px;	
  pointer-events: auto;
}

.active {
  opacity: 1;	
}

.inactive{
  opacity: .25;	
}
